[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "frequentdirections"]
	path = frequentdirections
	url = https://github.com/shinichi-takayanagi/frequentdirections
	shallow = true
	registered = true
[submodule "MNIST"]
	path = MNIST
	url = https://github.com/stillmatic/MNIST
	shallow = true
	registered = false
